<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>login</title>
   <link rel="stylesheet" href="../css/bootstrap.min.css">
   <link rel="stylesheet" href="../css/login.css">
</head>
<body>
	<div class="modal-dialog">
		<div class="login-container">
			<h2 align="center">输入您的账号密码</h1><br>
			<form action="">
				<input type="text" class="form-control" name="user" placeholder="Username">
				<input type="password" class="form-control" name="pass" placeholder="Password">
				<button type="submit" class="btn btn-primary btn-lg btn-block" name="login">登陆</button>
			</form>
		</div>
	</div>
   <script src="../jquery/jquery-2.1.4.min.js"></script>
   <script src="../js/bootstrap.min.js"></script>
</body>
</html>
