<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>密码修改</title>
   <link rel="stylesheet" href="../css/bootstrap.min.css">
   <link rel="stylesheet" href="../css/share.css">
   <link href="../css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
</head>
<body>
	<div class="container">
		<div class=" homepage-container">
    		<div class="container" id="top">
    			<img src="../photoes/headimage.jpg" id="headimage" >
    		</div>
            <div class="col-md-3" id="left">
            	<ul class="nav nav-pills nav-stacked">
                	<br />
   					<li align="center"><a onclick = tohomepage()>首页</a></li>
   					<li align="center"><a href="#">购买车票</a></li>
   					<li align="center"><a href="#">车票查询</a></li>
   					<li align="center"><a href="#">订单管理</a></li>
   					<li align="center"><a href="personal_infor.html">个人信息</a></li>
   					<li align="center"><a href="password.html">密码管理</a></li>
				</ul>
            </div>
            <div class="col-md-9" id="right">
            	<form action="" class="form-horizontal" role="form" >
            		<div class="form-group div_tp" id="inform">
            			<label for="usertname" align="center" class="col-md-4 control-label" >原密码:</label>
                    	<div class="col-md-5">
                			<input type="password" id="oldpassword" class=" form-control" placeholder="6-20位字母、数字或符号" onKeyUp=check_oldpassword(this.id)>
                    	</div>
                        <div class="col-md-3">
                        	<span id="old"></span>
                    	</div>
                	</div>
                    <div class="form-group div_tp">
            			<label for="usertname" align="center" class="col-md-4 control-label" >新密码:</label>
                    	<div class="col-md-5">
                			<input type="password" id="newpassword" class=" form-control" placeholder="6-20位字母、数字或符号" onKeyUp=check_newpassword(this.id)>
                    	</div>
                        <div class="col-md-3">
                        	<span id="new"></span>
                    	</div>
                	</div>
                    <div class="form-group div_tp">
            			<label for="usertname" align="center" class="col-md-4 control-label" >确认新密码:</label>
                    	<div class="col-md-5">
                			<input type="password" id="surepassword" class=" form-control " placeholder="6-20位字母、数字或符号" onKeyUp=check_surepassword(this.id)>
                    	</div>
                        <div class="col-md-3">
                        	<span id="sure_new"></span>
                    	</div>
                	</div>
                    <div class="form-group div_tp">
                		<div align="center" class="col-md-12">
                			<button type="submit" name="sure" class ="btn btn-primary" onclick="return enter()">修改密码</button>
                    	</div>
                	</div>
               </form>
            </div>
    	</div>
	</div>
<script src="../jquery/jquery-2.1.4.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/password.js"></script>
<script>
function tohomepage(){
	window.open("homepage.html");
}
</script>
</body>
</html>
